{% load static %}

{#<script type="text/javascript" src="{% static 'jquery-3.2.1/jquery-3.2.1.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'metis/lib/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'metis/js/metisMenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'metis/js/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'metis/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'vw_candidate/custom.js' %}"></script>