{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'metis/css/main.min.css' %}">
<link rel="stylesheet" href="{% static 'metis/css/metisMenu.min.css' %}">
<link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet/less" type="text/css" href="{% static 'metis/less/theme.less' %}">
<link rel="stylesheet" href="{% static 'vw_candidate/custom.css' %}">
<script type="text/javascript" src="{% static 'js/less.min.js' %}"></script>
<script data-rocketsrc="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/rocketscript"></script>
