{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="outer">
        <div class="inner bg-light lter">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-member-circle"></i></div>
                            <h5>Members</h5>
                            <div class="toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-default" data-toggle="modal" href="#addmemberModal">Add Member</button>
                                </div>
                            </div>
                        </header>
                        <div id="collapse4" class="body">
                            <table id="dataTable" class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th width="30%">Type</th>
                                        <th width="60%">Content</th>
                                        <th width="10%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if members %}
                                        {% for member in members %}
                                        <tr>
                                            <td class="type{{ member.id }}">{{ member.type }}</td>
                                            <td class="content{{ member.id }}">{{ member.content }}</td>
                                            <td>
                                                <a class="btn btn-default btn-xs edit-btn" title="edit" edit_id="{{ member.id }}" data-toggle="modal" href="#editmemberModal"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a class="btn btn-default btn-xs del-btn" title="delete" del_id="{{ member.id }}"><i class="fa fa-close"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr><td colspan="3" style="text-align: center;">No Member</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div id="addmemberModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="addmemberForm" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Member</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="type" class="control-label col-lg-4">Type</label>
                            <div class="col-lg-8">
                                <input id="member_type" type="text" name="type" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label col-lg-4">Content</label>
                            <div class="col-lg-8">
                                <textarea id="member_content" class="form-control" rows="5" name="content" required></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="add">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Add">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="editmemberModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="editmemberForm" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit Member</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="type" class="control-label col-lg-4">Type</label>
                            <div class="col-lg-8">
                                <input id="member_type_edit" type="text" name="type" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label col-lg-4">Content</label>
                            <div class="col-lg-8">
                                <textarea id="member_content_edit" class="form-control" rows="5" name="content" required></textarea>
                            </div>
                        </div>
                        <input id="member_id" type="hidden" name="member_id">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Submit">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form id="delForm" method="post">
        <input id="del_id" type="hidden" name="del_id" value="">
        <input type="hidden" name="action" value="delete">
    </form>
{% endblock %}

{% block extra_footer %}
    <script>
    $(function () {
        $('#editmemberForm').submit(function () {
            $.ajax({
                url: "{% url 'edit_member' %}",
                type: 'post',
                data: $(this).serialize(),
                success: function (data) {

                }
            });
        });
        $('.edit-btn').click(function () {
            var member_id = $(this).attr('edit_id');
            $('#member_type_edit').val($('.type'+member_id).text());
            $('#member_content_edit').val($('.content'+member_id).text());
            $('#member_id').val(member_id);
        });
        $('.del-btn').click(function () {
            $('#del_id').val($(this).attr('del_id'));
            $('#delForm').submit();
        });
    });
    </script>
{% endblock %}
