{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'RightPeople' %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{% static 'vw_site/wizard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vw_site/wizard/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vw_site/wizard/css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'vw_site/wizard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vw_site/interview.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>
<!-- Top content -->
<div class="top-content">
    <div class="container">

        <div class="row" style="display: flex; align-items: flex-end;">

            <div class="col-xs-4 col-sm-2 col-sm-offset-5 col-xs-offset-4 text">

                <img src="/static/img/logo.png" style="width: 90%">

            </div>

        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 form-box">
                <form role="form" action="" method="post" class="f1">
                <h3><strong>{% trans 'Anytime Interview' %}</strong></h3>
                <p>
                    {% trans 'Please note that you have already commenced or completed this interview. Contact' %}
                    <a href="mailto:support@rightpeople.zendesk.com">support@rightpeople.zendesk.com</a>

                </p>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- Javascript -->
<script src="{% static 'vw_site/wizard/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'vw_site/wizard/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vw_site/wizard/js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'vw_site/wizard/js/retina-1.1.0.min.js' %}"></script>
<script src="{% static 'vw_site/wizard/js/scripts.js' %}"></script>

</body>

</html>
